.container{
    width: 70%; margin-left: 15%; margin-top: 10%; border: 0.4px solid lightgrey; padding: 25px; border-radius: 10px; text-align: center;
}

.container input{
    margin-top:30px; width:70%; margin: 10px auto; border-radius: 8px; padding: 10px;
}
.col-lg-6 h3{color:darkgreen}
.col-lg-6{ border: 0.5px solid lightblue; border-radius: 10px; margin-top: 10px; margin-left: 10px; padding: 10px; max-width: 490px; }
li {list-style: none;}
.col-lg-6 button{color: aliceblue; background-color: darkolivegreen; padding: 5px; border-radius: 4px;}